<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script th:inline="javascript">
    const idCheck = () =>{
      let value = false;
      const memberEmail = document.getElementById("memberEmail").value;
      const checkMessage = document.getElementById("checkMessage");
      if(memberEmail != "") {
        $.ajax({
          type: "post",
          url: "/member/id-check/" + memberEmail,
          dataType: "json",
          async: false,
          success: function (result) {
            if (result) {
              checkMessage.innerHTML = "사용가능한 이메일입니다.";
              checkMessage.style.color = "green";
              value = true;
            } else {
              checkMessage.innerHTML = "중복된 이메일입니다.";
              checkMessage.style.color = "red";
              value = false;
            }
          }, error: function () {
            alert("에러");
          }
        })
      }else{
        checkMessage.innerHTML = "이메일을 입력해주세요.";
        checkMessage.style.color = "red";
        value = false;
      }
      return value;
    }
    const submitEvent = () =>{
      let value = idCheck();
      console.log(value);
      if(value){
        saveForm.submit();
      }
    }
  </script>
</head>
<body>
  <form method="post" action="/member/save" name="saveForm" enctype="multipart/form-data">
    <table>
      <tr>
        <td>이메일: </td>
        <td><input type="text" name="memberEmail" id="memberEmail" placeholder="이메일">
          <input type="button" onclick="idCheck()" value="중복체크">
        </td>
      </tr>
      <tr>
        <td id="checkMessage" colspan="2"></td>
      </tr>
      <tr>
        <td>비밀번호: </td>
        <td><input type="password" name="memberPassword" placeholder="비밀번호"></td>
      </tr>
      <tr>
        <td>이름: </td>
        <td><input type="text" name="memberName" placeholder="이름"></td>
      </tr>
      <tr>
        <td>전화번호</td>
        <td><input type="text" name="memberMobile" placeholder="010-0000-0000"></td>
      </tr>
      <tr>
        <td>프로필사진</td>
        <td><input type="file" name="memberProfile"></td>
      </tr>
      <tr>
        <td><input type="button" onclick="submitEvent()" value="회원가입"></td>
      </tr>
    </table>
  </form>
</body>
</html>