<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
    <h2>메인</h2>
    <a th:if="${session.memberEmail == null}" href="/member/save-form">회원가입</a>
    <a th:if="${session.memberEmail == null}"  href="/member/login">로그인</a>
    <a th:if="${session.memberEmail != null}" th:href="@{|/member/my-page/${session.memberId}|}">마이페이지</a>
    <a th:if="${session.memberEmail != null}" href="/member/logout">로그아웃</a>
    <a th:if="${session.memberEmail == 'admin'}" href="/member/admin">어드민용페이지</a>
    <a href="/board">글목록입니다.ㅁㄴa1asd23</a>
</body>
</html>